@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    box-sizing: border-box;
    text-decoration: none !important;
}

.bg_color {
    background: #F9F8FF;
}

.bg_black {
    background: #0D0D0D;
}

/* -- gap, padding and margin -- */
.gap_20 {
    gap: 20px;
}

.py_28 {
    padding-top: 28px;
    padding-bottom: 28px;
}

.pt_34 {
    padding-top: 34px;
}

.pl_41 {
    padding-left: 41px;
}

.pb_50 {
    padding-bottom: 50px;
}

.pb_68 {
    padding-bottom: 68px;
}

.pb_74 {
    padding-bottom: 74px;
}

.pb_91 {
    padding-bottom: 91px;
}

.pb_95 {
    padding-bottom: 95px;
}

.mt_40 {
    margin-top: 40px !important;
}

.mt_184 {
    margin-top: 120px;
}

/* -- color -- */
.color_lightblue {
    color: #57B3FE;
}

.color_lightgreen {
    color: #00A077;
    opacity: 0.5;
}

.color_lightblack {
    color: #3B3E43;
}

.color_gray {
    color: #595E64;
}

.color_lightgray {
    color: #424A4D;
}

/* -- line-hight -- */
.line_hight_20 {
    line-height: 20px;
}

.line_hight_24 {
    line-height: 24px;
}

.line_hight_30 {
    line-height: 30px;
}

.line_hight_34 {
    line-height: 34px;
}

.line_hight_100 {
    line-height: 100%;
}

.line_hight_120 {
    line-height: 120%;
}

.line_hight_122 {
    line-height: 122%;
}

.line_hight_148 {
    line-height: 148%;
}

/* ------ nav ------ */
.menu {
    font-size: 38px;
    font-family: sans-serif;
    width: 36px;
    height: 39px !important;
    gap: 10px !important;
    padding-top: -30px;
    overflow: hidden;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar1 {
    background: linear-gradient(250deg, #35D3FF -0.64%, #A963FB 103.6%);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: -100%;
    transition: all linear 300ms;
    z-index: 100 !important;
}

.closbtn {
    top: 20px;
    right: 20px;
}

.nav_hover::after {
    content: '';
    width: 0%;
    left: 50%;
    height: 2px;
    color: black;
    background-color: #FFF;
    position: absolute;
    bottom: -10%;
    transition: all 500ms ease-in-out;
}

.nav_hover:hover::after {
    left: 0;
    width: 100%;
    color: black;
}

.get_started {
    padding: 20px 50px;
    border-radius: 60px;
    background: #FFF;
    border: none;
    letter-spacing: 0.28px;
    transition: all 200ms linear;
    left: 0;
}

.get_started:hover {
    box-shadow: 0px 10px 10px 0px rgba(255, 255, 255, 0.7);
}

/* -- header -- */
.dasboard {
    max-width: 1044px;
}

.header_bg {
    background-image: url(../webp/intro.webp);
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.dasbord-position {
    transform: translateY(23%);
}

.mt_50 {
    margin-top: -90px;
}

.notification {
    top: -14%;
    right: 0%;
    max-width: 95px;
}

.design {
    bottom: -16%;
    right: 17%;
    max-width: 91px;
}

.total_time {
    bottom: -17%;
    left: -4%;
    max-width: 177px;
}

/* ------- feature -------- */
.help_card {
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 20px 50px 0px rgba(59, 62, 67, 0.05);
    transition: all 200ms linear;
}

.help_card:hover {
    scale: 1.05;
}

.cursor_pointer {
    cursor: pointer;
}

.icon_bg1 {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background: #FFE7DB;
    box-shadow: 0px 10px 20px 0px rgba(197, 158, 145, 0.10);
}

.icon_bg1 {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background: #FFE7DB;
    box-shadow: 0px 10px 20px 0px rgba(197, 158, 145, 0.10);
}

.icon_bg2 {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background: #E7F2EF;
    box-shadow: 0px 10px 20px 0px rgba(6, 77, 58, 0.03);
}

.icon_bg3 {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background: #FAF3D8;
    box-shadow: 0px 10px 20px 0px rgba(190, 166, 115, 0.05);
}

.icon_bg4 {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background: #C0F2EF;
    box-shadow: 0px 10px 20px 0px rgba(197, 158, 145, 0.10);
}

.icon_bg5 {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background: #EDE7F2;
    box-shadow: 0px 10px 20px 0px rgba(6, 77, 58, 0.03);
}

.icon_bg6 {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background: #D8F0FA;
    box-shadow: 0px 10px 20px 0px rgba(190, 166, 115, 0.05);
}

.sanku {
    top: 16%;
    right: 0;
    max-width: 761px;
}

.trangle {
    bottom: 13%;
    left: 0;
    max-width: 481px;
}

/* ----- proces ----- */
.middle_line::after {
    content: '';
    position: absolute;
    top: 26%;
    bottom: 0;
    left: 47%;
    border: 2px dotted white;
    height: 57%;
}

.proces_bg {
    background-image: url(../webp/process_bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.konw_w {
    max-width: 718px;
}

.process_card {
    max-width: 1170px;
    border-radius: 15px;
    background: #FFF;
    padding: 30px 30px 24px 32px;
    box-shadow: 0px 20px 50px 0px rgba(59, 62, 67, 0.05);
}

.process_card1 {
    max-width: 479px;
}

.audit_width {
    max-width: 530px;
}

/* ----------- brands ----------- */
.work_width {
    max-width: 897px;
}

.going_width {
    max-width: 381px;
}

.brand_width {
    max-width: 144px;
}

.scolle_hide::-webkit-scrollbar {
    display: none;
}

/* ----- start ------ */
.start_bg {
    background: linear-gradient(250deg, #35D3FF -0.64%, #A963FB 103.6%);
}

.start_width {
    max-width: 414px;
}

.know_width {
    max-width: 408px;
}

.work_img {
    max-width: 624px;
}

.work_bhind {
    top: -8%;
    right: 0;
    max-width: 230px;
}

/* ------- footer -------- */
.bottom_line {
    border: 1px solid #FFF;
    opacity: 0.35;
}

.footer_logo {
    max-width: 176px;
}

.icon {
    transition: all 200ms linear;
}

.light {
    transition: all 200ms linear;
}

.light:hover {
    opacity: 1 !important;
}

.icon:hover {
    scale: 1.3;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: linear-gradient(250deg, #35D3FF -0.64%, #A963FB 103.6%);
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 15px 15px;
    cursor: pointer;
}

#back-to-top:hover {
    background-color: #0056b3;
}

body.scrolled #back-to-top {
    display: block;
}

.spin {
    animation: mymove 2s infinite linear;
}

@keyframes mymove {
    0% {
        transform: scale(0.5);
    }

    75% {
        transform: scale(0.75);
    }

    100% {
        transform: scale(1);
    }
}

@media (min-width:576px) {
    .notification {
        top: -12%;
        right: -7%;
        max-width: 140px;
    }

    .design {
        bottom: -17%;
        right: 16%;
        max-width: 120px;
    }

    .total_time {
        bottom: -18%;
        left: -6%;
        max-width: 246px;
    }

    .work_bhind {
        max-width: 280px;
        right: 0%;
    }

    .mt_184 {
        margin-top: 200px;
    }
}

@media (min-width:768px) {
    .notification {
        top: -2%;
        right: -4%;
        max-width: 162px;
    }

    .design {
        bottom: -17%;
        right: 16%;
        max-width: 168px;
    }

    .total_time {
        bottom: -15.5%;
        left: -6%;
        max-width: 320px;
    }

    .work_bhind {
        max-width: 300px;
        right: 0%;
    }
}

@media (min-width:992px) {
    .mt_50 {
        margin-top: -140px;
    }

    .notification {
        top: -6%;
        right: -3.5%;
        max-width: 213px;
    }

    .design {
        bottom: -16%;
        right: 17%;
        max-width: 217px;
    }

    .work_bhind {
        max-width: 300px;
        right: -2%;
    }
}

@media (min-width:1024px) {
    .notification {
        top: -6%;
        right: -3.8%;
        max-width: 215px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1194px !important;
    }

    .notification {
        top: -3%;
        right: -7.8%;
        max-width: 278px;
    }

    .total_time {
        bottom: -12%;
        left: -11%;
        max-width: 403px;
    }

    .design {
        bottom: -15%;
        right: 17%;
        max-width: 235px;
    }

    .work_bhind {
        max-width: 300px;
        right: -2%;
    }

    .padding_70 {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
}

@media (min-width: 1400px) {
    .gap_32 {
        gap: 32px;
    }

    .work_bhind {
        max-width: 340px;
        right: -6%;
    }

    .padding_70 {
        padding-left: 70px !important;
        padding-right: 70px !important;
    }
}